@mixin buttons($background-color: var(--accept-button)) {
  padding: 10px;
  color: var(--button-font);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: $background-color;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55);
}
