.check-todo {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(226, 222, 222);
  cursor: pointer;
}

.check-todo:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  color: var(--button-font);
  border: none;
  background-color: var(--accept-button);
}
